/build.conf
/buildroot.conf
/bootfs/
/res/initramfs/boot/config.txt
/packages/
/build_dir/
/raspberrypi-ua-netinst-*.zip
/raspberrypi-ua-netinst-*.img
/raspberrypi-ua-netinst-*.img.xz
/raspberrypi-ua-netinst-*.img.bz2
